{% extends 'base.html' %}

{% block content %}
<h1>Assign Students to Room {{ room.room_number }}</h1>

<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <select name="student_ids" multiple>
        {% for student in students %}
            <option value="{{ student.student_id }}">{{ student.student_fname }} {{ student.student_lname }} - {{ student.level.level_name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Assign Students</button>
</form>

{% endblock %}
