{% extends 'base.html' %}

{% block content %}

<h1>List of Dorm Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Room Number</th>
      <th>Capacity</th>
      <th>Notes</th>
      <th>Phone</th>
      <th>Floor</th>
      <th>Unit</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for dorm_room in dorm_rooms.items %}
    <tr>
      <td>{{ dorm_room.droom_number }}</td>
      <td>{{ dorm_room.droom_capacity }}</td>
      <td>{{ dorm_room.droom_notes }}</td>
      <td>{{ dorm_room.droom_phone }}</td>
      <td>{{ dorm_room.droom_floor }}</td>
      <td>{{ dorm_room.droom_unit }}</td>
      <td>
        <a href="{{ url_for('dorms.edit_dorm_room', droom_id=dorm_room.droom_id) }}">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  {% if dorm_rooms.has_prev %}
    <a href="{{ url_for('dorms.list_dorm_rooms', page=dorm_rooms.prev_num) }}">Previous</a>
  {% endif %}
  
  {% for page_num in dorm_rooms.iter_pages() %}
    {% if page_num %}
      {% if dorm_rooms.page == page_num %}
        <span class="current-page">{{ page_num }}</span>
      {% else %}
        <a href="{{ url_for('dorms.list_dorm_rooms', page=page_num) }}">{{ page_num }}</a>
      {% endif %}
    {% else %}
      <span class="ellipsis">...</span>
    {% endif %}
  {% endfor %}
  
  {% if dorm_rooms.has_next %}
    <a href="{{ url_for('dorms.list_dorm_rooms', page=dorm_rooms.next_num) }}">Next</a>
  {% endif %}
</div>

{% endblock %}
