{% extends 'base.html' %}

{% block content %}

<h1>List Students</h1>

<form action="{{ url_for('students.list_students') }}" method="GET">
  <input type="text" name="search_query" placeholder="Search by name">
  <input type="submit" value="Search">
</form>

<form action="{{ url_for('students.list_students') }}" method="GET">
  <table>
    <thead>
      <tr>
        <th><a href="{{ url_for('students.list_students', sort='student_id') }}">ID</a></th>
        <th><a href="{{ url_for('students.list_students', sort='student_fname') }}">First / </a> <a href="{{ url_for('students.list_students', sort='student_lname') }}">Last Name</a></th>
        <th><a href="{{ url_for('students.list_students', sort='gender.gender_name') }}">Gender</a></th>
        <th><a href="{{ url_for('students.list_students', sort='level.level_name') }}">Level</a></th>
        <th><a href="{{ url_for('students.list_students', sort='student_age') }}">Age</a></th>
        <th>Edit</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <select name="gender_filter">
            <option value="">All</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </td>
        <td>
          <select name="level_filter">
            <option value="">All</option>
            {% for level in levels %}
              <option value="{{ level.level_name }}">{{ level.level_name }}</option>
            {% endfor %}
          </select>
        </td>
        <td>
          <input type="number" name="age_filter" placeholder="Age">
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for student in students.items %}
      {% if search_query and (search_query.lower() in student.student_fname.lower() or search_query.lower() in student.student_lname.lower()) %}
        <tr>
          <td>{{ student.student_id }}</td>
          <td>{{ student.student_fname }} {{ student.student_lname }}</td>
          <td>{{ student.gender.gender_name }}</td>
          <td>{{ student.level.level_name }}</td>
          <td>{{ student.student_age }}</td>
          <td><a href="{{ url_for('students.edit_student', student_id=student.student_id) }}">Edit</a></td>
        </tr>
      {% elif not search_query and (not gender_filter or student.gender.gender_name == gender_filter) and (not level_filter or student.level.level_name == level_filter) and (not age_filter or student.student_age == age_filter) %}
        <tr>
          <td>{{ student.student_id }}</td>
          <td>{{ student.student_fname }} {{ student.student_lname }}</td>
          <td>{{ student.gender.gender_name }}</td>
          <td>{{ student.level.level_name }}</td>
          <td>{{ student.student_age }}</td>
          <td><a href="{{ url_for('students.edit_student', student_id=student.student_id) }}">Edit</a></td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
</form>

<!-- Pagination -->
{% if students.pages > 1 %}
<ul class="pagination">
    {% if students.has_prev %}
    <li><a href="{{ url_for('students.list_students', page=students.prev_num) }}">«</a></li>
    {% else %}
    <li class="disabled"><span>«</span></li>
    {% endif %}
    {% for page_num in students.iter_pages() %}
    {% if page_num %}
    {% if page_num != students.page %}
    <li><a href="{{ url_for('students.list_students', page=page_num) }}">{{ page_num }}</a></li>
    {% else %}
    <li class="active"><span>{{ page_num }}</span></li>
    {% endif %}
    {% else %}
    <li class="disabled"><span>…</span></li>
    {% endif %}
    {% endfor %}
    {% if students.has_next %}
    <li><a href="{{ url_for('students.list_students', page=students.next_num) }}">»</a></li>
    {% else %}
    <li class="disabled"><span>»</span></li>
    {% endif %}
</ul>
{% endif %}

<script>
window.onload = function() {
  var filters = document.querySelectorAll('select[name="gender_filter"], select[name="level_filter"], input[name="age_filter"]');
  filters.forEach(function(filter) {
    filter.addEventListener('change', function() {
      this.form.submit();
    });
  });
};
</script>

{% endblock %}