{% extends 'base.html' %}

{% block content %}

<h1>List of Students</h1>

<!-- Add search form -->
<form action="{{ url_for('students.list_students') }}" method="GET">
  <input type="text" name="search" value="{{ search_query }}" placeholder="Search...">
  <button type="submit">Search</button>
</form>
<table>
  <thead>
      <tr>
          <th><a href="{{ url_for('students.list_students', sort='student_id') }}">ID</a></th>
          <th><a href="{{ url_for('students.list_students', sort='student_fname') }}">First Name</a> <a href="{{ url_for('students.list_students', sort='student_lname') }}">Last Name</a></th>
          <th><a href="{{ url_for('students.list_students', sort='gender.gender_name') }}">Gender</a></th>
          <th><a href="{{ url_for('students.list_students', sort='level.level_name') }}">Level</a></th>
          <th><a href="{{ url_for('students.list_students', sort='student_age') }}">Age</a></th>
          <!-- ... other fields ... -->
      </tr>
  </thead>

  <tbody>
    {% for student in students.items %}
    <tr>
      <td>{{ student.student_id }}</td>
      <td>{{ student.student_fname }} {{ student.student_lname }}</td>
      <td>{{ student.gender.gender_name }}</td>
      <td>{{ student.level.level_name }}</td>
      <td>{{ student.student_age }}</td>
      <td><a href="{{ url_for('students.edit_student', student_id=student.student_id) }}" class="btn btn-primary">Edit</a></td>
    
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Add pagination links -->
<div class="pagination">
  {% if students.has_prev %}
    <a href="{{ url_for('students.list_students', page=students.prev_num, search=search_query, sort=sort_by) }}">Previous</a>
  {% endif %}
  {% for num in students.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if num %}
      {% if students.page == num %}
        <strong>{{ num }}</strong>
      {% else %}
        <a href="{{ url_for('students.list_students', page=num, search=search_query, sort=sort_by) }}">{{ num }}</a>
      {% endif %}
    {% else %}
      ...
    {% endif %}
  {% endfor %}
  {% if students.has_next %}
    <a href="{{ url_for('students.list_students', page=students.next_num, search=search_query, sort=sort_by) }}">Next</a>
  {% endif %}
</div>

{% endblock %}
