<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}SpiritSchool.32 ALPHA{% endblock %}</title>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabs.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header_footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/small_button.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/student_table.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/label.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/divider.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
-->
</head>
<body>
 <header>
    <nav class="nav-bar">
        <div class="navbar-title">
            <a href="/">SpiritSchool</a>
        </div>
        <div>
            <div>
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/menu">Menu</a>
            </div>
        </div>
    </nav>
</header>

  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <p>&copy; 2023 SpiritSchool</p>
  </footer>
</body>
</html>
