{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}
<div class="container">
    <h1>Menu</h1>
    <a href="{{ url_for('students.list_students') }}" class="btn btn-primary">List Students</a>
    <a href="{{ url_for('dorms.dorm_managers') }}" class="btn btn-primary">Dorm Managers</a>
    <a href="{{ url_for('dorms.dorms') }}" class="btn btn-primary">Dorms</a>
    <a href="{{ url_for('dorms.list_dorm_rooms') }}" class="btn btn-primary">List Dorm Rooms</a>
    <a href="{{ url_for('dorms.create_dorm_room') }}" class="btn btn-primary">Create Dorm Rooms</a>
</div>
{% endblock %}
