{% extends "base.html" %}

{% block title %}Menu{% endblock %}

{% block content %}
<div class="container">
    <h1>Menu</h1>
    <div class="button-container">
        <div class="button-group button-group-small">
            <h3>Students</h3>
            <div class="button-row">
                <a href="{{ url_for('students.list_students') }}" class="small-button">List Students</a>
            </div>
        </div>
        
        <div class="button-group button-group-small">
            <h3>Dorm Managers</h3>
            <div class="button-row">
                <a href="{{ url_for('dorms.list_dorm_managers') }}" class="small-button">List Dorm Managers</a>
                <a href="{{ url_for('dorms.add_dorm_manager') }}" class="small-button">Add Dorm Manager</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
